<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Quiero Buenos Aires es ideal para tus vacaciones. Hay una gran variedad de tours e informacion valiosa de todo tipo para cualquier viajero">
  <meta name="keywords" content="buenos aires, city, tour guide, tour, guia de turismo, reisenführer, deutsch, argentina, paquete, turismo,  Ingles, Español, Portugues, Aleman, Italiano, Vacaciones, vacations, City Tour, Paseo, Full Day, Excursiones">
  <title class="titulo">Contacto</title>
  <!--estilos bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--mis estilos-->
  <link rel="stylesheet" href="../assets/css/estilos.css">
  <!--fuentes-->
  <link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  <!--iconos fontsawesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css" />
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="../index.html">Quiero Buenos Aires </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col-auto">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="quiensoy.html">Sobre Mi</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="servicios.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mis Servicios
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="servicios.html">Mis Servicios</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="servicios.html#tourstradicionales">Tours Tradicionales</a>
                <a class="dropdown-item" href="servicios.html#buenosairesalternativa">Buenos Aires Alternativa</a>
                <a class="dropdown-item" href="servicios.html#toursprivados">Tours Privados</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="servicios.html#serviciosextras">Armado de paquetes</a>
                <a class="dropdown-item" href="servicios.html#serviciosextras">Tranfer in/out</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="servicios.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Informacion Util
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="infoutil.html">Informacion Util</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="infoutil.html#Testimonios">Testimonios</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="infoutil.html#article">Articulos</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contacto.html">Contacto </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>


  <section class="sectionContacto">
    <h1 class="titulo" id="top">Contactame!</h1>

    <div class="containerContacto">
      <div class="infoContacto">
        <div class="box">
          <div class="icono"><i class="far fa-envelope"></i></div>
          <div class="textoContacto">
            <h3>Mail</h3>
            <p>mi.mail@gmail.com</p>
          </div>
        </div>
        <div class="box">
          <div class="icono"><i class="fab fa-linkedin-in"></i></div>
          <div class="textoContacto">
            <h3>LinkedIn</h3>
            <p>Mi LinkedIn</p>
          </div>
        </div>
        <div class="box">
          <div class="icono"><i class="fas fa-map-marked-alt"></i></div>
          <div class="textoContacto">
            <h3>Telefono</h3>
            <p>+5411 4534578</p>
          </div>
        </div>
      </div>
      <div class="formContacto">
        <form class="" action="index.html" method="post">
          <h2>Manda tu mensaje</h2>
          <div class="inputBox">
            <input type="text" name="" value="" required placeholder="Nombre">

          </div>
          <div class="inputBox">
            <input type="text" name="" value="" placeholder="Email" required>
            <!--<span></span>-->
          </div>
          <div class="inputBox">
            <textarea name="name" rows="8" cols="80" placeholder="Consulta" required></textarea>
            <span></span>
          </div>
          <div class="inputBox">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1"> Soy Argentino/a</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">Soy Extranjero/a</label>
            </div>
            <span></span>
          </div>
          <div class="inputBox">
            <a href="#" class="boton-bem boton-bem--hablemos boton-bem--contacto">
              <!--bloque-->
              <h4 class="boton-bem__texto">Enviar</h4>
              <i class="fas fa-arrow-right"></i>
            </a>
            <!-- <button type="submit" class="buttonContactoForm">Enviar</button>-->
          </div>
        </form>
      </div>
    </div>
  </section>





  <div class="arrow-top">
    <a href="#top"><i class="fas fa-chevron-up" aria-hidden="true"></i></a>
  </div>


  <footer class="footer">
    <div class="bottomContainer">
      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin footerIcon"></i></a>
      <a href="https://twitter.com/"><i class="fab fa-twitter-square footerIcon"></i></a>
      <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram footerIcon"></i></a>
      <a href="mi@gmail.com"><i class="fas fa-envelope-open-text footerIcon"></i></a>
      <p class="copyright">© 2020 Quiero Buenos Aires </p>

    </div>

  </footer>


  <script src="js/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>

</html>
