<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Quiero Buenos Aires es ideal para tus vacaciones. Hay una gran variedad de tours e informacion valiosa de todo tipo para cualquier viajero">
  <meta name="keywords" content="buenos aires, city, tour guide, tour, guia de turismo, reisenführer, deutsch, argentina, paquete, turismo,  Ingles, Español, Portugues, Aleman, Italiano, Vacaciones, vacations, City Tour, Paseo, Full Day, Excursiones">
  <title>Sobre Mi</title>
  <!--estilos bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--mis estilos-->
  <link rel="stylesheet" href="../assets/css/estilos.css">
  <!--fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Tangerine&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
  <!--iconos fontsawesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css" />
</head>

<body>
  <script src="js/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="../index.html">Quiero Buenos Aires </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col-auto">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="quiensoy.html">Sobre Mi</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="servicios.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mis Servicios
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="servicios.html">Mis Servicios</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="servicios.html#tourstradicionales">Tours Tradicionales</a>
                <a class="dropdown-item" href="servicios.html#buenosairesalternativa">Buenos Aires Alternativa</a>
                <a class="dropdown-item" href="servicios.html#toursprivados">Tours Privados</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="servicios.html#serviciosextras">Armado de paquetes</a>
                <a class="dropdown-item" href="servicios.html#serviciosextras">Tranfer in/out</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="servicios.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Informacion Util
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="infoutil.html">Informacion Util</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="infoutil.html#Testimonios">Testimonios</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="infoutil.html#article">Articulos</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contacto.html">Contacto </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <br>

  <h1 class="titulo" class="wow fadeInDown" id="top">Trayectoria</h1>


  <div class="row-sobreMi row">
    <div class="column-sobreMi col-lg-4 col-md-12 col-xs-12">
      <a href="https://ibb.co/BZ3PKxR" class="fadeInTopLeft"><img src="https://i.ibb.co/BZ3PKxR/circle-cropped2.png" alt="circle-cropped2" border="0"></a>
      <p class="titulos-sobreMi">Soy Charo</p>
      <p> tu proxima guia en Buenos Aires! Mi especialidad es hacerte disfrutar de la ciudad como un local</p>
      <i class="fas fa-thumbtack"></i>
    </div>
    <div class="column-sobreMi col-lg-4  col-md-12  col-xs-12">
      <a href="https://ibb.co/CngmfPq" class="fadeInTopLeft"><img src="https://i.ibb.co/CngmfPq/circle-cropped5.png" alt="circle-cropped5" border="0"></a>
      <p class="titulos-sobreMi">El idioma no es una barrera!</p>
      <p> Ademas de hacer tours en español, hay tours en portugues, inglés, italiano y alemán!</p>
      <i class="fas fa-thumbtack"></i>
    </div>
    <div class="column-sobreMi2 col-lg-6  col-md-12 col-xs-12">
      <a href="https://ibb.co/bJFgF3G" class="fadeInTopLeft"><img src="https://i.ibb.co/bJFgF3G/circle-cropped.png" alt="circle-cropped" border="0"></a>
      <p class="titulos-sobreMi">Mi mayor hobbie es mi trabajo.</p>
      <p>Cuento con dos ingredientes: pasión por el turismo y vocación por comunicar a través de los lugares, sus historias.En 2016 inicie la carrera en Técnico y Guía de Turismo. En 2018 empece a trabajar en el area, y desde Diciembre de 2019 soy
        Guía Oficial de la Ciudad de Buenos Aires.</p>
      <i class="fas fa-thumbtack"></i>
    </div>
  </div>




  <div class="superDiv">

    <div class="middle-container">
      <div class="contact-me">
        <h2 class="h2-sobreMi">Hablemos!</h2>
        <p class="contact">Venis a Buenos Aires? <br> Contame tus intereses y te digo que tour se adapta mejor </p>
      </div>
    </div>
    <div class="little-container">
      <fieldset class="fieldset-sobreMi">
        <legend id="recuadro-sobreMi">Completa el formulario</legend>
        <form class="" action="index.html" method="post">
          <label for="name" class="labelSM">Nombre</label>
          <input type="text" name="name" value="" class="elastico"> <br>
          <label for="email" class="labelSM">Deje su mail:</label>
          <input type="text" name="email" value="" class="elastico"> <br>
          <label for="coment" class="labelSM">Escriba su comentario</label> <br>
          <textarea name="coment" rows="4" cols="50" class="labelSM"></textarea> <br>
        </form>
        <a href="mailto:mi.mail@gmail.com" class="boton-bem boton-bem--hablemos">
          <!--bloque-->
          <span class="botonBem__texto">Enviar</span>
          <i class="fas fa-paper-plane"></i>
        </a>

        <!--<a class="btn-sobreMi" href="mailto:name@email.com">Enviar</a>-->
    </div>
  </div>

  <div class="arrow-top">
    <a href="#top"><i class="fas fa-chevron-up" aria-hidden="true"></i></a>
  </div>


  <footer class="footer">
    <div class="bottomContainer">
      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin footerIcon"></i></a>
      <a href="https://twitter.com/"><i class="fab fa-twitter-square footerIcon"></i></a>
      <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram footerIcon"></i></a>
      <a href="mi@gmail.com"><i class="fas fa-envelope-open-text footerIcon"></i></a>
      <p class="copyright">© 2020 Quiero Buenos Aires </p>

    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
